* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-nav{
	width: 100px;
	height: 100px;
}

html, body {
	background-color: #fff;
	color: #000;
	text-rendering: optimizeLegibility; /* This property makes sure that you are text property renderd properly on pages*/
	font-size: 60px;
	font-family: 'work sans','Arial', 'sans-serif';
	font-weight: 300;
}
.row {
	max-width: 1140px;
	margin: 0 auto;

}

/**clear fix****/
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
	visibility: hidden;


}
header{
	background-image: linear-gradient(rgb(0,0,0,.3),rgb(0,0,0,.7)),url(img/header-img.JPEG);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;


}
.header-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

h1 {
	font-size: 100%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;


}

h2 {
	font-size: 50%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 100px;

}
/*****Buttons******/


.btn{
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;
	font-size: 20px;
}
.btn-full:link,
.btn-full:visited{
	background-color: #ed07b7;
	font-size: 20px;
	color: #fff;

}
.btn-full:hover,
.btn-full:active {
	background-color:#d406a7;
}



.btn-ghost:link,
.btn-ghost:visited{
      border: 2px solid #d406a7;
      color: black;
}
.btn-ghost:hover,
.btn-ghost:active{
	background-color: #d406a7;
	color: white;

}
.main-nav{
	list-style: none;
	font-size: 20px;
	float: right;
	margin-top: 50px;
}
.main-nav li {
	display: inline-block;
}



.main-nav li{
	display: inline-block;

}
	

}
.main-nav li{
	display: inline-block;
	margin-right: 40px;
	text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
	text-decoration: none;
	color: white;
	transition:border-bottom 0.2;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #ed07b7;

}


.logo{
	height: 120px;
	width: auto;
	float: left;
}
.laptop-img{
	/*width: 80%;*/
	padding-top: 30px;
	padding-right: 40px;
}
.about-heading{
	color: black;
	font-size: 100%;
	/*letter-spacing: 1px;*/
	font-weight: 500;
	margin-bottom: 50px;

}
.about-box{
	margin-top: 150px;
	padding: 0 5%;
}

.about-box:first-child{
	align-text: left;

}
.about-box:last-child{
	align-text: right;
}

.about-para{
	color: #555;
	margin-bottom: 50px;
	font-size: 30px;
}
.About-section{
	padding-bottom: 100px;
}
/***Building-portifilo section*****/

.section-heading{
	font-size: 100%;
	color: black;
	margin-bottom: 20px;



}
.section-subheading{
	font-size: 20px;
	color:darkgray;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 1.5;

}
/*****.section-subheading:after{
	display: block;
	height: 2px;
	width: 100px;
	background-color: #ed07b7;
	content: "";******/



}
.work-section{
	text-align: center;
	background-color: #f4f4f4;
}
.portfolio-img{
	padding-top: 30px;

}

.work-portifolio{
	margin-top: 10px;
	list-style: none;
	width: 100%;
}

.work-portifolio li{
	display: block;
	width: 25%;
	float: left;
	overflow: hidden;
}

.portfolio-img{
	background-color: gray;
	overflow: hidden;
}

.portfolio-img img{
	width: 30%;
	height: auto;
	opacity: .7;
	transform: scale(1.15);
	transition:transform: 0.5%,opacity: 0.5;
}

.portfolio-img img:hover{
	transform: scale(1);
	opacity: 1;
}
.work-para{
	color: #fff;
	font-size: 30px;
}

/**** SERVICES SECTION *****/

.service-section{
	text-align: center;
	background-color: #f4f4f4;
}

.Big-icon{
	font-size:100%;
	color: #6920b0;
	display:block;
	margin-bottom:30px;

}
.service-heading{
	font-size: 50%;
	margin-bottom: 40px;
	font-weight:400;

}
.service-para{
	color:#555;
	font-size:50%;
	margin-bottom:20px;
}
.service-link{
	color: #ed07b7;
	text-transform:uppercase;
	text-decoration:none;
	font-size:30%;
}
.service-box{
	padding:1% 3%;
}

/***Featured Clients section***/

.associate-section{
	text-align: center;
}
.partner-logo{
	width: 65%;
	height: auto;

}

/**********Testimonial section ************/

.testimonial-section {
	background-image:url(img/testimonial-background.jpg);
	background-size: cover;
	text-align: center;
	color: #fff;
	background-attachment: fixed;
}

.testimonial-heading{
	font-size: 100%;
	margin-bottom: 50px;
	margin-top: 300px;
}

.testimonial-box{
	font-size:40%;
	margin-bottom: 50px;
	text-align: left;
}
blockquote {
	padding: 2%;
	font-style: italic;
	position: relative;
	margin-top: 40px;

}

blockquote:before { 
	content:”\003c”; 
	display: bloc;
	font-size: 500%;
	position: absolute;
	left: -5px;
	top: -5px;
}
cite{
	display: bloc;
	margin-top: 45px;
	font-size: 90%;
}

cite img {
	border-radius: 50%;
	height: 20%;
	vertical-align: middle;
	margin-right: 10px;
}

/*********Packages Section********/

.packages-section{
	text-align: center;
	background-color: #f4f4f4;
}

.packages-heading{
	color: black;
	font-size: 50%;
}

.packages-box{
	background-color: white;
	width: 90;
	margin-bottom: 30px;
	font-size: 40%;
	box-shadow:0 3px 2px #efefef;
	text-align: left;
}

.package-heading{
	font-size: 150%;
	color: #555;
	margin-bottom: 50px;
	font-weight: 400;
	margin-bottom: 40px;
}
.package-price{
	color: #ed07b7;
	font-size: 300%;
	font-weight: 300;
	margin-bottom: 10px;

}

.package-price span{
	font-size: 30%;
	font-weight: 500;


}


/**********Contact Form Section**********/


.package-para{
	color: #555;
	font-size: 80%;
	margin-bottom: 10px;

}
.packages-box ul{
	list-style: none;

}

.small-icon {
	color: #ed07b7;
	font-size: 100%;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	text-align: center;

}
.packages-box ul li {
	color: #555;
	padding: 5px 0;

}
.packages-box div {
	padding: 15px ;
	border-bottom: 1px solid #efefef;

}
.packages-box div:last-child {
	border: 0;
	text-align: center;
	padding-left: 0;


}
.packages-box div:first-child{
	background-color: #fcfcfc;

}
 
.contact-section {
	text-align: center;
	font-size: 200%;


}
.packages-heading{
	color: black;
	font-size: 200%;
	margin-bottom: 50px;
	margin-top: 150px;
}

label {
	text-align: left;
}

input[type=text],
input[type=email],
textarea {
	width: 40%;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #555;
	background-color: white;
	


}
input[type=checkbox] {
	margin: 10px 5px;
}

textarea{
	height: 100px;
}

.contact-form{
	text-align: left;
	width: 60%;
	margin: 0 auto;
	color: #555;
}
.newsletter{
	margin: 10px 5px 10px 0;
}

label{
	color: #555;
}

*:focus{
	outline: none;
}

/**************FOOTER***********/

.footer{
	background-color: #333;
	padding: 50px;
	font-size: 40%;
	color: #888;

}

.footer-nav li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	


}

.footer-nav li a:link,
.footer-nav li a:visited {
	color: #888;
	text-decoration: none;
	transition:color 0.2s;


}

.footer-nav li a:hover,
.footer-nav li a:active{
	color: #fff;
}
.social-Links li {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	margin-top: 10%;
	margin-bottom: 10%;

}

.social-Links li a:link,
.social-Links li a:visited {
	color: #888;
	text-decoration: none;
	font-size: 160%;
}


.fab-fa-facbook:hover{
	color: #3b5998;
}

.fab-fa-instagram:hover{
	color: #c32aa3;
}

.fab-fa-twitter-square:hover{
	color: #1da1f2;
}

.fab-fa-facbook,
.fab-fa-instagram,
.fab-fa-twitter-square{
	transition: color 0.2s;
}
.food-img{
	width: 120px;
	height: 200px;
}

footer p{
	text-align: center;
	margin-top: 50px;
	
}