.food-section{
	background-image: url(img/Coffe.jpg);
	background-repeat: no-repeat;
	background-size: 1600px 150px;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
	color: ;
}
.bar{
	color: white;
	float: right;
	padding-left: 200px;
	padding-right: 10px;
	font-size: 40px;

}

.section-heading{
	font-size: 350%;
	padding-top: 90px;
	text-align: center;
	font-family: cursive;
	color: azure;
}
.croll{
	padding-top: 40px;
	height: 200px;
	width: 250px;
	border-right-width: 50px;
	border-radius: 90px;
}

.menup{
	padding-top: 20px;
	font-size: 20px;
}

.col_span_1_of_3{
	display: inline-block;
	max-height: 120px;
	max-width: 120px;
	padding-left: 180px;
	padding-right: 180px;
}

.rol{
	font-size: 40px;
	text-align: center;
	padding-top: 80px;
	font-family: cursive;
}

.piza{
	padding-top: 80px;
	font-size: 40px;
	text-align: center;
	font-family: cursive;
}

.ice{
	padding-top: 80px;
	font-size: 40px;
	text-align: center;
	font-family: cursive;
}

.icon1{
	height: 30px;
	width: 30px;
	padding-top: 10px;
}

.food-menu{
	background-color: dimgray;
}

.menu-text{
	font-size: 20px;
}


/******icon******/
.btn23 {
background-color: black;
color: white;
padding: 12px;
font-size: 20px;
width: 50px;
}
.nav-bar{
position:fixed;
display: block;
font-size: 28px;
flex-direction: right;
position:relative;left:-20px; top:2px;
}
.dropdownlist-content{
display: none;
position: absolute;
background-color: black;
min-width: 120px;
z-index: 1;
}
.dropdownlist-content a {
color: white;
padding: 14px 18px;
display: block;
font-size: 30px;
text-decoration: none;
}
.dropdownlist-content a:hover {background-color: gray;}
.nav-bar:hover .dropdownlist-content {display: block;}
.nav-bar:hover .btn23 {background-color: gray;}