


.logo{
	height: 120px;
	width: auto;
	float: left;
	color: ;
}

.section-heading{
	font-size: 250%;
	padding-top: 90px;
	text-align: center;
	font-family: cursive;
}
.croll{
	padding-top: 40px;
}

.menup{
	padding-top: 20px;
}

.col_span_1_of_3{
	display: inline-block;
	max-height: 120px;
	max-width: 120px;
	padding-left: 180px;
	padding-right: 180px;
}

.rol{
	font-size: 40px;
	text-align: center;
	padding-top: 80px;
	font-family: cursive;
}

.piza{
	padding-top: 80px;
	font-size: 40px;
	text-align: center;
	font-family: cursive;
}

.ice{
	padding-top: 80px;
	font-size: 40px;
	text-align: center;
	font-family: cursive;
}

.icon1{
	height: 30px;
	width: 30px;
	padding-top: 10px;
}

.food-menu{
	background-color: dimgray;
}

.menu-text{
	font-size: 30px;
}